node_modules/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env.local
.cache
.parcel-cache
src/locations.json
geocoding-report.json
unmatched_towns.json
